# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# Someone from team Datadiensten has to approve a
# review when someone opens a pull request.
*       @Amsterdam/datadiensten

# Datateam BenK
datasets/bag/*              @Amsterdam/datateam-benk
datasets/basiskaart/*       @Amsterdam/datateam-benk
datasets/benkagg/*          @Amsterdam/datateam-benk
datasets/bgt/*              @Amsterdam/datateam-benk
datasets/brk2/*             @Amsterdam/datateam-benk
datasets/brt10/*            @Amsterdam/datateam-benk
datasets/brt25/*            @Amsterdam/datateam-benk
datasets/brt50/*            @Amsterdam/datateam-benk
datasets/dataverkenner/*    @Amsterdam/datateam-benk
datasets/gebieden/*         @Amsterdam/datateam-benk
datasets/hr/*               @Amsterdam/datateam-benk
datasets/hr_kvk/*           @Amsterdam/datateam-benk
datasets/meetbouten/*       @Amsterdam/datateam-benk
datasets/monumenten/*       @Amsterdam/datateam-benk
datasets/nap/*              @Amsterdam/datateam-benk
datasets/verkenner/*        @Amsterdam/datateam-benk
datasets/woz/*              @Amsterdam/datateam-benk

# Datateam BOR
datasets/afvalwijzer/*                      @Amsterdam/datateam-beeldschoon
datasets/bomen/*                            @Amsterdam/datateam-beeldschoon
datasets/bor_inspecties/*                   @Amsterdam/datateam-beeldschoon
datasets/bouwstroompunten/*                 @Amsterdam/datateam-beeldschoon
datasets/brandkranen/*                      @Amsterdam/datateam-beeldschoon
datasets/civieleconstructies/*              @Amsterdam/datateam-beeldschoon
datasets/datakwaliteit/*                    @Amsterdam/datateam-beeldschoon
datasets/ecologie/*                         @Amsterdam/datateam-beeldschoon
datasets/fietspaaltjes/*                    @Amsterdam/datateam-beeldschoon
datasets/huishoudelijkafval/*               @Amsterdam/datateam-beeldschoon
datasets/indicatoren/*                      @Amsterdam/datateam-beeldschoon
datasets/meldingen/*                        @Amsterdam/datateam-beeldschoon
datasets/negenstraatjes/*                   @Amsterdam/datateam-beeldschoon
datasets/objectenopenbareruimte/*           @Amsterdam/datateam-beeldschoon
datasets/recyclepunten/*                    @Amsterdam/datateam-beeldschoon
datasets/referentiekalender/*               @Amsterdam/datateam-beeldschoon
datasets/uitvoeringsplan/*                  @Amsterdam/datateam-beeldschoon
datasets/verkeersinformatiesystemen/*       @Amsterdam/datateam-beeldschoon
datasets/verzinkbarepalen/*                 @Amsterdam/datateam-beeldschoon
datasets/wagenpark/*                        @Amsterdam/datateam-beeldschoon
datasets/ziekte_plagen_exoten_groen/*       @Amsterdam/datateam-beeldschoon
