# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# Someone from team Datadiensten has to approve a
# review when someone opens a pull request.
*       @Amsterdam/datadiensten
