# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# Someone from team Datadiensten has to approve a
# review when someone opens a pull request.
*       @Amsterdam/datadiensten

# Datateam BenK
datasets/bag/               @Amsterdam/datateam-benk @Amsterdam/datadiensten
datasets/basiskaart/        @Amsterdam/datateam-benk @Amsterdam/datadiensten
datasets/benkagg/           @Amsterdam/datateam-benk @Amsterdam/datadiensten
datasets/bgt/               @Amsterdam/datateam-benk @Amsterdam/datadiensten
datasets/brk2/              @Amsterdam/datateam-benk @Amsterdam/datadiensten
datasets/brt10/             @Amsterdam/datateam-benk @Amsterdam/datadiensten
datasets/brt25/             @Amsterdam/datateam-benk @Amsterdam/datadiensten
datasets/brt50/             @Amsterdam/datateam-benk @Amsterdam/datadiensten
datasets/dataverkenner/     @Amsterdam/datateam-benk @Amsterdam/datadiensten
datasets/gebieden/          @Amsterdam/datateam-benk @Amsterdam/datadiensten
datasets/hr/                @Amsterdam/datateam-benk @Amsterdam/datadiensten
datasets/hr_kvk/            @Amsterdam/datateam-benk @Amsterdam/datadiensten
datasets/meetbouten/        @Amsterdam/datateam-benk @Amsterdam/datadiensten
datasets/monumenten/        @Amsterdam/datateam-benk @Amsterdam/datadiensten
datasets/nap/               @Amsterdam/datateam-benk @Amsterdam/datadiensten
datasets/verkenner/         @Amsterdam/datateam-benk @Amsterdam/datadiensten
datasets/woz/               @Amsterdam/datateam-benk @Amsterdam/datadiensten

# Datateam BOR
datasets/afvalwijzer/                       @Amsterdam/datateam-beeldschoon @Amsterdam/datadiensten
datasets/bomen/                             @Amsterdam/datateam-beeldschoon @Amsterdam/datadiensten
datasets/bor_inspecties/                    @Amsterdam/datateam-beeldschoon @Amsterdam/datadiensten
datasets/bouwstroompunten/                  @Amsterdam/datateam-beeldschoon @Amsterdam/datadiensten
datasets/brandkranen/                       @Amsterdam/datateam-beeldschoon @Amsterdam/datadiensten
datasets/civieleconstructies/               @Amsterdam/datateam-beeldschoon @Amsterdam/datadiensten
datasets/datakwaliteit/                     @Amsterdam/datateam-beeldschoon @Amsterdam/datadiensten
datasets/ecologie/                          @Amsterdam/datateam-beeldschoon @Amsterdam/datadiensten
datasets/fietspaaltjes/                     @Amsterdam/datateam-beeldschoon @Amsterdam/datadiensten
datasets/huishoudelijkafval/                @Amsterdam/datateam-beeldschoon @Amsterdam/datadiensten
datasets/indicatoren/                       @Amsterdam/datateam-beeldschoon @Amsterdam/datadiensten
datasets/meldingen/                         @Amsterdam/datateam-beeldschoon @Amsterdam/datadiensten
datasets/negenstraatjes/                    @Amsterdam/datateam-beeldschoon @Amsterdam/datadiensten
datasets/objectenopenbareruimte/            @Amsterdam/datateam-beeldschoon @Amsterdam/datadiensten
datasets/recyclepunten/                     @Amsterdam/datateam-beeldschoon @Amsterdam/datadiensten
datasets/referentiekalender/                @Amsterdam/datateam-beeldschoon @Amsterdam/datadiensten
datasets/uitvoeringsplan/                   @Amsterdam/datateam-beeldschoon @Amsterdam/datadiensten
datasets/verkeersinformatiesystemen/        @Amsterdam/datateam-beeldschoon @Amsterdam/datadiensten
datasets/verzinkbarepalen/                  @Amsterdam/datateam-beeldschoon @Amsterdam/datadiensten
datasets/wagenpark/                         @Amsterdam/datateam-beeldschoon @Amsterdam/datadiensten
datasets/ziekte_plagen_exoten_groen/        @Amsterdam/datateam-beeldschoon @Amsterdam/datadiensten
