# File format: https://pre-commit.com/#plugins
# Supported hooks: https://pre-commit.com/hooks.html
# Running "make format" fixes most issues for you
repos:
  - repo: https://github.com/ambv/black
    rev: 20.8b1
    hooks:
      - id: black
        #language_version: python3.8
  - repo: https://github.com/Amsterdam/schema-tools
    rev: v0.18.2
    hooks:
      - id: validate-schema
        args: ['https://schemas.data.amsterdam.nl/schema@v1.1.1#']
        exclude: 'datasets/index.json$'

  # - repo: https://github.com/pre-commit/pre-commit-hooks
  #   rev: v2.2.3
  #   hooks:
  #     - id: flake8
  #       exclude: migrations/
  #       additional_dependencies:
  #         # temporary using git versions for Python 3.8 support in pyflakes
  #         - '-e'
  #         - 'git+https://github.com/pycqa/pyflakes@0af480e#egg=pyflakes'
  #         - '-e'
  #         - 'git+https://github.com/pycqa/pycodestyle@68cc24f#egg=pycodestyle'
  #         - flake8-blind-except == 0.1.1
  #         - flake8-debugger == 3.2.1
  #         - flake8-colors == 0.1.6
  #         - flake8-raise == 0.0.5

#  - repo: https://github.com/prettier/prettier
#    rev: "1.19.1"
#    hooks:
#      - id: prettier
#        files: '\.(js|ts|jsx|tsx|scss|css|yml|yaml|json)$'
