version: '3.7'
services:
  devserver:
    build:
      context: .
      dockerfile: Dockerfile.dev
    ports:
      - 8000:8000
    volumes:
      - .:/app

  publisher:
    build: src
    container_name: publisher
    environment:
      DATAPUNT_ENVIRONMENT: acceptance
      OS_USERNAME: dataservices
      OS_PASSWORD: ${DATASERVICES_PASSWD}
      OS_TENANT_NAME: 356c76835e424b968ed6d654c51204f0
      OS_AUTH_URL: https://identity.stack.cloudvps.com/v2.0
