click==7.1.2
environs==8.0.0
python-swiftclient==3.9.0
python-keystoneclient==4.2.0
requests==2.25.1
in_place==0.4.0

# We need version 2.2.3 of Bikeshed specifically and not version 2.3.0.
# The latter has issues with rendering highlighted inline code.
bikeshed==2.2.3

# Override keystoneclient's requirement
pyyaml==5.4
