name: pre-commit validate-schema

on:
  pull_request:
  push:
    paths:
      - datasets/
jobs:
  pre-commit:
    runs-on: ubuntu-latest
    env:
      SCHEMA_URL: datasets/
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: "Fetch master branch"  # So we can diff against it.
        run: |
          git fetch origin master
      - uses: actions/setup-python@v2
        with:
          python-version: '3.9.x'
      - id: changed-datasets
        # We are only interested in changed and new (not deleted) datasets files.
        run: echo "::set-output name=DATASET_FILES::$(git diff --name-only --diff-filter=d origin/master.. -- datasets)"
        shell: bash
      - run: |
          echo "Dataset files to be validated:"
          for ds in ${{ steps.changed-datasets.outputs.DATASET_FILES }}
          do
            echo $ds
          done
      - uses: pre-commit/action@v3.0.1
        with:
          extra_args: validate-schema --files ${{ steps.changed-datasets.outputs.DATASET_FILES }}
